.hero-font-size-1 {
  font-size: 1.15rem;

  @media screen and (min-width: $small) {
    font-size: 1.25rem;
  }

  @media screen and (min-width: $large) {
    font-size: 1.5rem;
  }
}

.hero-font-size-readmore {
  font-size: 0.9rem;

  @media screen and (min-width: $small) {
    font-size: 1rem;
  }
}
