// Style Sidebar
aside {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: var(--opacity-sidebar);
  top: var(--top-sidebar);

  .icon-wrapper {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    border: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
  }

  .sidebar-wrapper {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul.sidebar-menu {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 60px);
      text-align: center;
      margin: 0;
      padding: 0;

      li.sidebar-link {
        text-decoration: none;
        list-style: none;

        a {
          &.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            transition: 0.2s ease-in-out;
            color: $white;
            cursor: pointer;

            &:hover {
              color: $yellow;
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}
